html
{
	height: 100%;
}
body
{
    background-color: #FFFFFF;
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    height: 100%;
    position: relative;
}
h1
{
	text-align: center;
}
ul
{
	list-style: none;
}
/************* Main navbar classes start ********All****/
#main-nav
{
	background-color: #4585A1;
	color: #FFFFFF;
	height: 50px;
	padding-left: 10%;
	padding-right: 10%;
}
.navbar-default,
.navbar-inverse
{
    background-color: #4585A1;
    color: #FFFFFF;
    width: 100%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover
{
    background-color: #4585A1;
    color: #FFFFFF;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus
{
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a
{
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li:hover
{
    background-color: #326077;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover
{
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:focus
{
    color: #FFFFFF;
}
.navbar-default .navbar-nav > ul
{
    padding-left: 20px;
}
.navbar-default .navbar-text
{
    color: #FFFFFF;
}
#login-register
{
	display: block;
	float: right;
}
/************* Main navbar classes end **********All****/
/************* All pages classes start **********All****/
#wrapper
{
	margin-top: 75px;
	min-height: 65%;
	width: 100%
}
.carousel .item
{
	height: 170px;
	margin: 0px auto;
	text-align: center;
}
.item h3
{
	margin-top: 0px;
}
.item img
{
	height: 170px;
	text-align: center;
}
.carousel-control
{
	opacity: 1;
}
.carousel-control.left,
.carousel-control.right
{
	background-image: none;
	background-repeat: none;
}
.turquois
{
	color: #326076;
}
/************* All pages classes end ************All****/
/************* Landing classes start ************All****/
#landing .divider.row div
{
	border-bottom: 2px solid #E5E5E5;
	margin-bottom: 10px;
	margin-top: 10px;
}
#landing .row img
{
	height: 170px;
}
#main-fitbit > div,
#main-recipes > div,
#main-groceries > div
{
	padding-left: 0px;
	padding-right: 0px;
}
#carousel-groceries .item
{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}
#carousel-groceries ul
{
	float: left;
	margin-right: 15px;
	max-width: 28%;
	min-width: 28%;
}
#carousel-groceries ul li
{
	background-image: url('../images/icon-checkmark.png');
	background-repeat: no-repeat;
	height: 26px;
	line-height: 26px;
	margin-bottom: 5px;
	overflow: hidden;
	padding-left: 30px;
	text-align: left;
}
/************* Landing classes end **************All****/
/************* Extraneous pages classes start ***All****/
#about table,
#faq table,
#contact table
{
	background-color: #E2EEF4;
	margin-bottom: 50px;
	margin-top: 50px;
}
#faq table span
{
	font-weight: bold;
}
/************* Extraneous pages classes end *****All****/
/************* Social links classes start *******All****/
#social
{
	margin-bottom: 10px;
	margin-top: 10px;
	min-height: 13%;
	text-align: center;
	width: 100%
}
#social img
{
	margin: 10px;
}
/************* Social links classes end *********All****/
/************* Footer classes start *************All****/
footer
{
	background-color: #4585A1;
	color: #FFFFFF;
	display: block;
	min-height: 20%;
	line-height: 20px;
	padding-bottom: 15px;
	width: 100%;
}
footer > .row
{
	margin: 0px auto;
	text-align: center;
}
footer > div > div > a,
footer > div > div > a:active,
footer > div > div > a:hover,
footer > div > div > a:visited
{
	color: #FFFFFF;
	display: block;
	font-size: 10px;
	text-decoration: none;
}
footer > div > div > a:focus
{
	color: #FFFFFF;
	outline: 0px;
	text-decoration: none;
}
footer > div > div > h3
{
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
}
footer > .row > .link-column
{
	padding-left: 0px;
	padding-right: 0px;
}
/**************** Footer classes end ************All****/
@media screen and (max-width: 991px) {
/************* Landing classes start ************All****/
	#carousel-groceries .item
	{
		width: 98%;
	}
/************* Landing classes end **************All****/
/************* Extraneous pages classes start **767-****/
	

/************* Extraneous pages classes end ****767-****/
}
/**************** Footer classes end ************All****/
@media screen and (max-width: 767px) {
/************* Landing classes start ************All****/
	
	
/************* Landing classes end **************All****/
/************* Extraneous pages classes start **767-****/
	#about .table-responsive > .table > tbody > tr > td,
	#faq .table-responsive > .table > tbody > tr > td,
	#contact .table-responsive > .table > tbody > tr > td
	{
		white-space: normal;
	}
/************* Extraneous pages classes end ****767-****/
}