body
{
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    padding: 0px;
}
header
{
	background-color: #4585A1;
	color: #FFFFFF;
	width: 100%;
}
footer
{
	background-color: #4585A1;
	color: #FFFFFF;
	width: 100%;
}
footer > div > div > a,
footer > div > div > a:hover,
footer > div > div > a:active
{
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	text-decoration: none;
}
footer > div > div > h3
{
	font-size: 16px;
}