html
{
	height: 100%;
}
body
{
    background-color: #FFFFFF;
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    height: auto;
    position: relative;
}
h1
{
	display: none;
}
ul
{
	list-style: none;
}
#main-nav
{
	display: none;
}
#wrapper
{
	margin-top: 40px;
	min-height: 65%;
	width: 100%
}
#groceries h2
{
	display: inline-block;
	margin-right: 40px;
}
#groceries .row
{
	margin-bottom: 0px;
}
#groceries .divider.row div,
#groceries .col-1,
#groceries .col-2
{
	display: none;
}
#groceries .col-5,
#groceries .col-6
{
	width: 20%;
}
#groceries .col-3
{
	width: 20%;
}
#groceries .col-4
{
	width: 40%;
}
#groceries .grocery-options,
#groceries #add-item,
#groceries #add-item-link,
#groceries #print-list,
#groceries #add-item input[type="text"],
#groceries #add-item input[type="number"],
#groceries #add-item select,
#groceries #add-item button,
#groceries #add-item button,
#modal,
#social,
footer
{
	display: none;
}