<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phoodbuddy.phoodbuddy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.splash_screen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.shopping_list"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activities.setup"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activities.settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activities.recipes"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activities.login"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activities.health_profile"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activities.deals"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activities.dashboard"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activities.agenda"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Controllers.LoginController"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
